<!DOCTYPE html>

<html>

<head>
    <title>Организационная структура</title>
    <script src="https://bossanova.uk/jexcel/v3/jexcel.js"></script>
    <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <div id="mytable"></div>
</body>

</html>